Algorithm 3.1

This algorithm uses a simple counting approach.

we keep track of frequently appearing elements.
when the memory (set t) is full, we decrease the counter of all elements and remove those that reach zero.
this approach keeps only elements that appear often but it may fluctuate when new data appears rapidly.

In [ ]:
def algorithm_3_1(sequence, k):
    n = 0
    T = set()
    c = {}
    for i in sequence:
        n += 1
        if i in T:
            c[i] += 1
        elif len(T) < k - 1:
            T.add(i)
            c[i] = 1
        else:
            for j in list(T):
                c[j] -= 1
                if c[j] == 0:
                    T.remove(j)
                    del c[j]
    return T, c

Algorithm 3.2

This algorithm use a time threshold delta to normalize data over time.


every time the sequence progresses, the algorithm updates delta and removes elements whose count is lower than delta.
this makes the algorithm more stable and adaptive as time goes on.

In [ ]:
def algorithm_3_2(sequence, k):
    n = 0
    Δ = 0
    T = set()
    c = {}
    for i in sequence:
        n += 1
        if i in T:
            c[i] += 1
        else:
            T.add(i)
            c[i] = 1 + Δ

        if n // k != Δ:
            Δ = n // k
            for j in list(T):
                if c[j] < Δ:
                    T.remove(j)
                    del c[j]
    return T, c


Algorithm 3.3

The main idea is to replace the element that appears the least frequently.

when our list is full and a new element appears, we find the one with the smallest counter and replace it.

In [ ]:
def algorithm_3_3(sequence, k):
    n = 0
    T = set()
    c = {}
    for i in sequence:
        n += 1
        if i in T:
            c[i] += 1
        elif len(T) < k:
            T.add(i)
            c[i] = 1
        else:
            j = min(T, key=lambda x: c[x])
            T.remove(j)
            del c[j]
            T.add(i)
            c[i] = 1
    return T, c


Test data by random city names in japan

In [ ]:
city_sequence = [
    "Tokyo", "Kyoto", "Osaka", "Tokyo", "Nagoya", "Osaka", "Tokyo",
    "Kyoto", "Shizuoka", "Kyoto", "Osaka", "Tokyo", "Kobe", "Tokyo",
    "Kyoto", "Tokyo", "Hiroshima", "Osaka", "Tokyo", "Kyoto", "Sendai",
    "Tokyo", "Tokyo", "Osaka", "Kyoto", "Nagoya", "Tokyo", "Kyoto",
    "Tokyo", "Osaka", "Tokyo", "Kyoto", "Tokyo", "Tokyo", "Osaka",
    "Kyoto", "Tokyo", "Nagoya", "Tokyo", "Kyoto", "Osaka", "Tokyo",
    "Fukuoka", "Tokyo", "Kyoto", "Tokyo", "Sapporo", "Kyoto", "Osaka",
    "Tokyo", "Kyoto", "Tokyo", "Osaka", "Kyoto", "Tokyo", "Nagoya",
    "Tokyo", "Kyoto", "Osaka", "Tokyo", "Tokyo", "Kyoto", "Tokyo",
    "Tokyo", "Osaka", "Tokyo", "Kyoto"
]

max capacity is represented by k

In [ ]:
k = 3


Run and show results

In [ ]:

print("Total data:", len(city_sequence))
print("Unique cities:", len(set(city_sequence)))
print("=" * 60)

result1 = algorithm_3_1(city_sequence, k)
result2 = algorithm_3_2(city_sequence, k)
result3 = algorithm_3_3(city_sequence, k)

print("Algorithm 3.1 result:", result1)
print("Algorithm 3.2 result:", result2)
print("Algorithm 3.3 result:", result3)


the result be seen as below


![execution result](image_1.png)